<!doctype html>
<html>
  <head>
    <title>innorow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
      .rowingData {
        font-size: 100px
      }
      #countdownTimerModal {
        width: 100%;
        height: 100%;
        font-size: 100px;
        background-color: green;
        color: white;
        z-index: 1;
        overflow: auto;
        position: fixed;
        text-align: center
      }
      #countdownTimer {
        top: 50%;
        margin-top: -100px;
        margin-left: -50px;
        position: absolute;
      }
    </style>
  </head>
  <body>
    <div id="countdownTimerModal">
      <span id='countdownTimer'></span>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <span id="rpm"></span><span id="acceleration">&nbsp;</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <form id='stopWatchForm'>
            <button class="btn btn-lg btn-success"><span id="stopWatchButton">Start</span></button>
          </form>
        </div>
        <div class="col-xs-6">
          <form id='saveDataForm'>
            <button class="btn btn-lg btn-info"><span id="saveDataButton">Save Data</span></button>
          </form>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <h1><span class='rowingData' id="timeElapsed">00:00</span><br/><small>Time</small></h1>
        </div>
        <div class="col-xs-6" id="heartRateZone">
          <h1><span class='rowingData' id="heartRate">--</span><br/><small><span id="heartRateLabel">HR</span></small></h1>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <h1><span class='rowingData' id="distance">0</span><small>M</small><br/><small>Distance</small></h1>
        </div>
        <div class="col-xs-6">
          <h1><span class='rowingData' id="strokeRate">0</span><small>spm</small><br/><small>Stroke Rate</small></h1>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <h1><span class='rowingData' id="calories">0</span><br/><small>Calories</small></h1>
        </div>
        <div class="col-xs-6">
          <h1><span class='rowingData' id="fiveHundredSplit">0</span><br/><small>500m split</small></h1>
        </div>
      </div>
      <hr>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <!-- No need for react yet, but here it is -->
    <!-- <script src="/js/react.min.js"></script>
    <script src="/js/react-dom.min.js"></script> -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/nosleep.min.js"></script>
    <script>
      $(document).ready(function(){
        $('#countdownTimerModal').hide();
      });
      var noSleep = new NoSleep();
      noSleep.enable();
      var socket = io();
      socket.on('cycle', function(msg){
        $('#rpm').text(msg.rpm);
        $('#fiveHundredSplit').text(msg.split);
        $('#distance').text(msg.distance);
        if (msg.acceleration){
          $('#acceleration').text(' - '+ 'New Stroke');  
        } else {
          $('#acceleration').html('&nbsp;');
        }
        $('#strokeRate').text(msg.stroke_rate);
      });
      socket.on('stopwatch time', function(msg){
        $('#timeElapsed').text(msg);
        $('#stopWatchButton').text('Stop');
      });
      var fatBurningColors = {
        'WARMUP': 'white',
        'FAT_BURNING': '#5cb85c',
        'AEROBIC': '#f0ad4e',
        'THRESHOLD': '#d9534f',
        'ANAEROBIC': '#d9534f'
      }
      socket.on('heart rate payload', function(msg){
        $('#heartRateLabel').text(msg.label);
        $('#heartRate').text(msg.hr);
        $('#heartRateZone').css("background-color", (fatBurningColors[msg.heatrate_zone]||'purple'));
      });
      socket.on('calories', function(msg){
        $('#calories').text(msg);
      });
      socket.on('stopwatch button value', function(msg){
        if (msg == 'Stop') {
          $('#stopWatchForm').find('button').addClass('btn-danger').removeClass('btn-success');
        } else if (msg == 'Clear Data'){
          $('#stopWatchForm').find('button').addClass('btn-warning').removeClass('btn-danger');
        } else {
          $('#stopWatchForm').find('button').addClass('btn-success').removeClass('btn-warning');
        }
        $('#stopWatchButton').text(msg);
      });
      $('#stopWatchForm').submit(function(){
        buttonText = $('#stopWatchForm').find('button')[0].innerText
        if (buttonText == 'Start'){
          sendValue = 'START';
        } else if (buttonText == 'Clear Data'){
          sendValue = 'CLEAR';
        } else {
          sendValue = 'PAUSE';
        }
        if (sendValue == 'START') {
          var countdown_timer = 10000 // 10 sec
          var theCountdown = setInterval(function(){
            if (countdown_timer > 0) {
              $('#countdownTimerModal').show();
              clockValue = (countdown_timer/1000);
              $('#countdownTimer').text(clockValue);
              countdown_timer -= 1000
            } else {
              $('#countdownTimerModal').hide();
              clearInterval(theCountdown);
              socket.emit('start timer', sendValue);
            }
          }, 1000);
          return false; // returning false makes the page not refresh
        } else {
          socket.emit('start timer', sendValue);
          return false; // returning false makes the page not refresh
        }
      });
      $('#saveDataForm').submit(function(){
        socket.emit('save data', true);
        return false;
      });
    </script>
  </body>
</html>